language: go
go:
  - 1.9.x
  - tip
env:
  - GOMAXPROCS=4 GORACE=halt_on_error=1
install:
  - go get golang.org/x/sys/unix
  - go get golang.org/x/sys/windows
  - go get golang.org/x/crypto/bcrypt
  - go get github.com/sirupsen/logrus
  - go get github.com/spf13/viper
  - go get github.com/lib/pq
  - go get github.com/gorilla/websocket
  - go get github.com/pkg/errors
  - go get github.com/volatiletech/null
  - go get github.com/volatiletech/sqlboiler
  - go get github.com/volatiletech/sqlboiler/drivers/sqlboiler-psql
  - go get github.com/ericlagergren/decimal

services:
  - postgresql
script:
  - go install -v ./...
